<% if(recipe!=null) { %>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%- recipe.name%></li>
        </ol>
      </nav>

      <div class="pb-5 row">

            <div class="col-12 col-md-4">
                <img src="/uploads/<%- recipe.image%>" class="img-fluid sticky-top" style="top:20px" alt="<%- recipe.name%>" loading="lazy">
            </div>

            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12"><h1><%- recipe.name%></h1></div>
                    
                    <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- recipe.category%></div>
                    <div class="col-12" style="white-space: pre-line;">
                        <h4>Cooking Instructions</h4>
                        <%- recipe.description%>
                    </div>
                    
                </div>

                <div class="row pt-4">
                    <div class="col-12">
                        <h4>Ingredients</h4>
                        <ul class="list-group list-group-flush">
                            <% recipe.ingredients.forEach(function(ingredients,index){ %>
                            <li class="list-group-item"><%= ingredients %></li>
                            <%})%>
                        </ul>
                    </div>
                </div>
                <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST"  " >
                    <button type="delete" class="btn btn-outline-danger">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                         <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                        </svg>
                        Delete Recipe
                    </button>
                </form>
            </div>
           
      </div>


<% } else { %>
    <p>No item found</p>
    <% } %>